DataBox/aug_train.csv
DataBox/IPL Matches 2008-2020.csv
DataBox/magic04.data
DataBox/movie_titles_metadata.tsv
DataBox/placement.csv
DataBox/zomato.csv
DataBox/test.csv
DataBox/recipe.json
DataBox/tmdb_movies.csv
DataBox/titanic.csv
DataBox/Preprocessed_Social_Network_Ads.csv
Output/output.html
DataBox/wine_data.csv
DataBox/customer.csv
DataBox/cars.csv
DataBox/covid_gen.csv
DataBox/titanic_prepsd.csv
PickelFiles/wp_clf.pkl
PickelFiles/wp_ohe_embarked.pkl
PickelFiles/wp_ohe_sex.pkl
PickelFiles/pipe.pkl
DataBox/concrete_data.csv
DataBox/titanic_mixed_var.csv
DataBox/messages.csv
DataBox/orders.csv
DataBox/data_science_job.csv
DataBox/titanic_mmimp.csv
DataBox/housing_data.csv
