DataBox/aug_train.csv
DataBox/IPL Matches 2008-2020.csv
DataBox/magic04.data
DataBox/movie_titles_metadata.tsv
DataBox/placement.csv
DataBox/zomato.csv
DataBox/test.csv
DataBox/recipe.json
DataBox/tmdb_movies.csv
DataBox/titanic.csv
DataBox/Preprocessed_Social_Network_Ads.csv
Output/output.html
DataBox/wine_data.csv
DataBox/customer.csv
